

 .whole-footer {
    color: #313131;
    border: 1px solid #659f8f;
    background-color: #659f8f;
    margin: 0px;
    width: auto;
    height: 200px;
 }

 .contents {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    
}


 #email-input {
    border: 0px solid;
    border-radius: 5px;
    padding: 11px;
    margin-right: 7px;
 }

 #subscribe-button {
    border: 0px;
    border-radius: 6px;
    background-color: rgba(230, 103, 19, 0.877);
    color: white;
    padding: 11px 21px 11px 21px;
    text-align: center;
 }

 li {
    list-style-type: none;
    gap: ;
 }